.barrating .br-widget {
    height: 52px;
}

.barrating .br-widget a {
    display: block;
    width: 25px;
    height: 25px;
    float: left;
    background-color: #e3e3e3;
    margin: 2px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.2;
    text-align: center;
    color: #b6b6b6;
}

.barrating .br-widget a.br-active,
.barrating .br-widget a.br-selected {
    background-color: #59a6d6;
    color: white;
}