@import url('/css/candara/candara.css');

/* Large desktop */
@media (min-width: 980px) { 
 .linediv-l {
   border-right: 1px white solid;
  }
 .linediv-r {
   border-left: 1px white solid;
 }
}

@media (max-width: 800px) { 
  header {
    width: 300px;
    margin: 40px auto;
  }
  body {
    background: #ffffff url("/images/header-750.png") no-repeat center top;
  }
}

/* Landscape phones and down */
@media (max-width: 600px) { 
 .hero-unit {
   padding: 0;
 }
 .copy {
   padding: 2.5% 10%;
 }
 .linediv-l {
   border-bottom: 1px white solid;
 }
 .linediv-r {
   border-top: 1px white solid;
 }
 .info {
   padding: 0 10px;
 }
 body {
   background: #ffffff url("/images/header-500.png") no-repeat center top;
 }
}
@media (min-width: 1200px) { 
  .container, .navbar-fixed-top .container {
    width: 940px;
  }
  body {
    background: #ffffff url("/images/header.png") no-repeat center top;
  }
  header {
    margin: 70px auto;
  }
}
body {
  color: #005194;
  font-family: Candara;
  font-size: 16px;
  line-height: 24px;
}
.btn-primary {
  color: #005194;
  background-color: #E8C602;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  color: #005194;
  background-color: #FCD606;
}
.row-fluid {
  margin: 30px 0;
}
.carousel, .alert {
 margin-bottom: 0 !important;
}
.testimonial {
 background-color: #F6B44C;
 padding: 8px 75px;
}
/* ------------------------------------------------------------------------------
  H E A D E R
--------------------------------------------------------------------------------- */
.navbar-fixed-top {
  position: static;    
  margin-bottom: 20px;
}
.hero-unit {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  padding: 0;
  margin-bottom: -20px;
}
li {
  line-height: 30px;
}
/* ------------------------------------------------------------------------------
  F O O T E R
--------------------------------------------------------------------------------- */
.footer {
  padding: 10px;
  margin: 30px 0 0 0;
  font-size: 16px;
  color: inherit;
  background-color: #ecf0f1;
}
.footer-list ul {
  list-style: none;
  margin: 0;
}
.footer-list ul li {
  line-height: 25px;
}
i.fa {
  width: 17px;
}
/* ------------------------------------------------------------------------------
  M I S C
--------------------------------------------------------------------------------- */
[class^="icon-"] {
  padding: 0 10px;
}
.atss {
  top: 250px;
}
ul.nostyle, ul.nostyle li {
  background: none repeat scroll 0 0 transparent;
  list-style: none outside none;
  margin: 0 -2px;
}
ul.nostyle li {
  display: inline;
  float: left;
  padding: 5px;
}
#main {
  min-height: 250px;
}
.carousel-control {
  line-height: 42px !important;
}