{{> header }}

  <div class="posts container">

  {{#recent_posts}}

      <div class="row-fluid">
        <article class="entry"> 
          <div class="span4">
            {{{ image }}}
          </div>
          <div class="span8">
            <h2 class="entry-title"><a href="/blog/{{ id }}.html">{{{ title }}}</a></h2>
        <time class="updated" datetime="{{#iso_date}}{{ published_date }}{{/iso_date}}" pubdate>{{#long_date}}{{published_date}}{{/long_date}}</time>

            <div class="entry-content">
              {{{ content }}}
            </div>
        {{#is_teaser}}
              <div><br/><a href="/blog/{{ id }}.html" class="more">Читать далее »</a></div>
        {{/is_teaser}}
          </div>
        </article>
      </div>

  {{/recent_posts}}

    <div class="row-fluid">
      <div class="span12">
        <a href="#" data-href="#top" class="back-to-top pull-right">Наверх</a>
      </div>
    </div>

  </div>
  
{{> footer }}
