<div class="footer">
  <div class="container">
    <div class="row-fluid">
      <div class="span4">
        <h3>Контакты</h3>
        <div class="footer-list">
          <ul>
            <li><a href="mailto:zhuravskaya.o@gmail.com"><i class="fa fa-envelope-o"></i>&nbsp;zhuravskaya.o@gmail.com</a></li>
          </ul>
        </div>
      </div>
      <div class="span4">
        <h3>Ссылки</h3>
        <div class="footer-list">
          <ul>
          <li><a href="http://www.vk.com/zhurol" target="_blank"><i class="fa fa-vk"></i>www.vk.com/zhurol</a></li>
          <li><a href="http://www.instagram.com/zhurol" target="_blank"><i class="fa fa-instagram"></i>www.instagram.com/zhurol</a></li>
          <li style="white-space: nowrap;"><a href="http://www.facebook.com/olga.zhuravskaya" target="_blank"><i id="fb-share" class="fa fa-facebook"></i>www.facebook.com/olga.zhuravskaya</a></li>
        </div>
      </div>
      <div class="span4">
        <h3>Карта сайта</h3>
        <div class="footer-list">
          <ul>
            <li id="home"><a href="/">Главная</a></li>
            <li id="blog"><a href="/blog">Блог</a></li>
          </ul>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row-fluid">
      <span class="pull-right">&copy; Olga Zhuravskaya, 2014</span>
    </div>
  </div>
</div>

</body>
</html>