{{> header }}
<div class="container">

  <div class="row-fluid">
    <div class="span12">
        <p>Первые годы жизни – очень интересный и важный период, когда ребенок узнает столько нового, учится самым простым вещам, играет,  развивается. Очень важно, чтобы процесс развития деток был разносторонним, поэтому с ними нужно разговаривать, слушать детские песенки, играть,  рисовать и лепить, читать хорошие добрые книги, знакомить с лучшим, что есть в нашем мире.</p>
        <p>В материалах „Йога -азбука для детей“ заключены большие возможности для развития детей и отношений между детьми и родителями.</p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <h2>ПЛАКАТ „Йога-азбука“</h2>
      <p>Плакат – это один из самых удобных и эффективных способов подачи информации. Все позы от А до Я на одном плакате.</p>
      <p>Плакат легко разместить на стенах комнаты, где живет ребенок.  Информация всегда перед глазами и легко запоминается. Подробнее о развивающих плакатах можно прочитать в <a href="/blog/4984634214568107642.html">блоге</a>.</p>
      <ul>
        <li>Формат: А1 (60х85 см)</li>
        <li>Цена: 399 руб</li>
      </ul>
      <button class="btn btn-success" title="Перейти к форме заказа" onclick="location = '#order'">Заказать</button>
    </div>
    <div class="span6">
      <a data-toggle="lightbox" href="#posterLightbox"><img src="/images/poster.png" title="ПЛАКАТ „Йога-азбука“" alt="ПЛАКАТ „Йога-азбука“" class="img-polaroid"/></a>
      <span>Нажмите на картинку для увеличения</span>
      <div id="posterLightbox" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
        <div class='lightbox-dialog'>
          <div class='lightbox-header'>
            <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
          </div>
          <div class='lightbox-content'>
            <img src="/images/poster-big.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <h2>КАРТОЧКИ „Йога-азбука“</h2>
      <p>Набор карточек „Йога-азбука для детей“ состоит из 32 карточек. Карточки напечатаны на плотном картоне и заламинированы, что делает их износостойкими. Для удобства хранения набор карточек упакован в льняной мешочек.</p>
      <p>Йога-карточки – это отличный помощник для детей и родителей занимающихся йогой, также незаменимый помощник для преподавателей и инструкторов по йоге. Из них можно составить целое занятие по йоге,  придумать разминку или играть в различные игры с включением йога-поз.</p>
      <ul>
        <li>Формат: 10х15 см</li>
        <li>Цена:-399 руб.</li>
      </ul>
      <button class="btn btn-success" title="Перейти к форме заказа" onclick="location = '#order'">Заказать</button>
    </div>
    <div class="span6">
      <div style="width: 250px; margin: auto">
        <a data-toggle="lightbox" href="#cardsLightbox"><img src="/images/cards.png" title="КАРТОЧКИ „Йога-азбука“" alt="КАРТОЧКИ „Йога-азбука“" class="img-polaroid"/></a>
        <span>Нажмите на картинку для просмотра дополнительных фотографий</span>
        <div id="cardsLightbox" class="lightbox hide fade" tabindex="-1" role="dialog" aria-hidden="true">
          <div class='lightbox-header'>
            <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
          </div>
          <div class='lightbox-content'>
            <div id="myCarousel" class="carousel slide">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item"><img src="/images/cards-big.png"></div>
                <div class="item"><img src="/images/cards-sample.png"></div>
                <div class="item"><img src="/images/cards-bag.png"></div>
              </div>
              <!-- Carousel nav -->
              <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <p><i>Материалы „Йога-азбука для детей“ могут стать отличным подароком для детей и родителей, увлеченных йогой.</i></p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6">
      <h4>РАСКРАСКИ „Йога-азбука“</h4>
      <p>Также Вы можете попробовать начать с раскрашивания. В этом месяце вы можете скачать любимую позу всех детей - позу „СОБАКИ МОРДОЙ ВНИЗ“. Как правило,  это первая поза,  с которой детки начинают знакомиться с йогой.</p>
      <p><i>Чтобы скачать раскраску в хорошем качестве (2480x3500) нажмите Поделиться и расскажите о Йога-Азбуке своим друзьям. После опубликования сообщения в Facebook, появится ссылка для скачивания раскраски.</i></p>
      <button class="btn btn-info" id="fb-feed" alt="Поделиться на Facebook"><i class="fa fa-facebook"></i>Поделиться</button>
    </div>
    <div class="span6">
      <div style="width: 250px; margin: auto">
        <img src="/images/dog.png" title="РАСКРАСКА „Йога-азбука“" alt="РАСКРАСКА „Йога-азбука“" class="img-polaroid"/>
      </div>
    </div>
  </div>
</div>

<div class="hero-unit" id="order">
  <div class="container">
    <div class="row-fluid">
      <div class="span8">
        <div id="ri-grid" class="ri-grid ri-grid-size-2 ri-shadow">
          <img class="ri-loading-image" src="/images/loading.gif"/>
          <ul class="img-polaroid">
            <li><a href="#"><img src="/images/small/butterflypng.png" alt="Бабочка"/></a></li>
            <li><a href="#"><img src="/images/small/treepng.png" alt="Дерево"/></a></li>
            <li><a href="#"><img src="/images/small/starpng.png" alt="Звезда"/></a></li>
            <li><a href="#"><img src="/images/small/peacockspng.png" alt="Павлин"/></a></li>
            <li><a href="#"><img src="/images/small/dogpng.png" alt="Собака"/></a></li>
            <li><a href="#"><img src="/images/small/triglepng.png" alt="Треугальник"/></a></li>

            <li><a href="#"><img src="/images/small/butterflypng.png" alt="Бабочка"/></a></li>
            <li><a href="#"><img src="/images/small/treepng.png" alt="Дерево"/></a></li>
            <li><a href="#"><img src="/images/small/starpng.png" alt="Звезда"/></a></li>
            <li><a href="#"><img src="/images/small/peacockspng.png" alt="Павлин"/></a></li>
            <li><a href="#"><img src="/images/small/dogpng.png" alt="Собака"/></a></li>
            <li><a href="#"><img src="/images/small/triglepng.png" alt="Треугальник"/></a></li>
          </ul>
        </div>
      </div>
      <div class="span4 info">
        <p><b>Уже в продаже!</b> Заполните форму заявки, и мы договоримся о доставке и оплате по e-mail.</p>
        <div id="demoLicense">
          <form action="http://yoga-azbuka.appspot.com/digisell" method="post">
            <input type="hidden" name="item_number" value="1"/>
            <input type="hidden" name="receiver_email" value="zhuravskaya.o@gmail.com"/>
            <input type="hidden" name="secret" value="preorder"/>
            <input type="hidden" name="skip-validation" value="1"/>
            <input type="hidden" name="first_name">
            <input type="hidden" name="last_name">
            <table>
              <tr><td><label for="full_name">Имя Фамилия:</label></td></tr>
              <tr><td><input type="text" name="full_name" required></td></tr>
              <tr><td><label for="payer_email">E-mail:</label></td></tr>
              <tr><td><input type="email" name="payer_email" required></td></tr>
            </table>
            <input type="submit" class="btn btn-success" name="submit" alt="Отправить заявку" value="Отправить">
            <img id="loading" class="ri-loading-image" src="/images/loading.gif"/>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row-fluid">
    <h4>Отзывы</h4>
    <div class="carousel slide">
      <!-- Carousel items -->
      <div id="testimonials" class="carousel-inner"  data-interval="30000">
        <div class="item active alert testimonial">
          <p><i>„Как счастливый пользователь оставлю отзыв — чудесная вещь!! сегодня дети в школе на анатомии по ним занимались в виде практического навыка теоретических знаний о необходимости разминки и повышения гибкости :) на ура занимались!! так старательно читали свои позы и выполняли их вместе. прекрасная идея и совершенно идеальное выполнение!“</i></p>
          <p>Маргарита Утевска</p>
        </div>
        <div class="item alert testimonial">
          <p><i>„Оля, карточки пошли просто на "УРА". На буквы Миланка не обращала особого внимания, а вот позы с удовольствием делала:) Мы составляли свои имена, фамилию и делали их в йога позах. Самое интересное, когда пошли спать, Миланка все крутилась-вертелась. Я ей сказала: «Давай, ложись в позу на букву «Н» и лежи», и что самое интересное она легла, как нарисовано на карточке, так что карточки дают свои результаты :) Еще могу добавить, что у Миланки явно появились любимые позы - А, С, В, Ф; есть позы, которые она вообще делать не хочет и сразу эти карточки откладывет - Р, Л, П, Ц. В целом, нам очень и очень нравится всей семьей изучать буквы:) Спасибо! Очень хорошая идея и прекрасное исполнение!“</i></p>
          <p>Юля Басырова, дочка 2,5 года</p>
        </div>
        <div class="item alert testimonial">
          <p><i>„Оля,все хочу написать благодарность за замечательные йога-карточки!!!!Пишу наконец то!))Нам они безумно понравились,качество,картинки,все суппер!Каждое утро занимается с сыном,он вытаскивает карточку наугад и мы делаем позу!Позже хочу заказать еще на подарки!Благодарим!“</i></p>
          <p>Лена Волынская, сын 3 года</p>
        </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#testimonials" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#testimonials" data-slide="next">&rsaquo;</a>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <h3>ДОСТАВКА и ОПЛАТА</h3>
      <p>Доставка возможна практически по всему миру!</p>
      <h4>Если Вы живете в <b>Москве</b></h4>
      <p>Вы можете сами подъехать на м.Щелковская, м. Текстильщики или м.Водный стадион и забрать самовывозом.<br/>
      Так же Вы можете воспользоваться услугами курьера:
      <ul>
        <li>доставка до любой станции метро: 300 руб.</li>
        <li>доставка до подъезда 350 руб.</li>
      </ul>
      </p>
      <p><b>Оплата </b> при получении или предварительная безналичным переводом.</p>
      <h4>Если Вы живете в другом городе России или другой стране</h4>
      <p>По России пересылка возможна:
      <ul>
        <li>Почтой России, срок доставки 7-10 дней.</li>
        <li>Или службой <a href="http://emspost.ru/ru/">EMS</a>, ориентировочная цена от 690 руб., cрок 2-4 дня.</li>
      </ul>
        </p>
      <p>В другие страны, только службой <a href="http://emspost.ru/ru/">EMS</a>, ориентировочная цена от 1250.00 руб.</p>
      <p><b>Оплата</b> только предварительная - безналичным переводом. Возможные способы предварительной оплаты:
      <ul>
        <li>Банковский перевод</li>
        <li><a href="https://www.paypal.com/ru/webapps/mpp/send-money-online">PayPal</a></li>
      </ul>
      Реквизиты для оплаты будут указаны в письме-подверждении заказа.
      </p>
    </div>
    <button class="btn btn-success" title="Перейти к форме заказа" onclick="location = '#order'">Заказать</button>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <h3>Об авторе</h3>
      <p><b>Журавская Ольга</b> – автор и разработчик проекта „Йога-азбука для детей“.<br/>
        Сертифицированный преподаватель детской йоги <a href="http://www.rainbowkidsyoga.net/"><b>rainbow kids yoga</b></a>.<br/>
        <a href="http://www.rainbowkidsyoga.net/"><img id="loading" title="Rainbow Kids Yoga (Cayetana Rodenas)" alt="Rainbow Kids Yoga (Cayetana Rodenas)" src="/images/cert.png"/></a>
      </p>
      <p>Иллюстратор – Ольга Бадулина.<br/>
        <a href="mailto:olyabadulina@gmail.com"><i class="fa fa-envelope-o"></i>&nbsp;olyabadulina@gmail.com</a><br/>
        <a href="http://www.instagram.com/olyabad" target="_blank"><i class="fa fa-instagram"></i>&nbsp;www.instagram.com/olyabad</a></p>
    </div>
  </div>

  <!-- For the FAQ, we introduce a little bit of JS, using the accordion. -->
  <!-- This brings in jquery.js and bootstrap.js as dependencies. -->
  <!-- http://twitter.github.io/bootstrap/javascript.html#collapse -->
  <div class="row-fluid faq">
    <div class="span12">
      <h3>Вопросы?</h3>
      <div class="accordion" id="accordion1">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse"
               data-parent="#accordion1" href="#collapse1">
              Сколько стоит доставка по России?
            </a>
          </div>
          <div id="collapse1" class="accordion-body collapse">
            <div class="accordion-inner">
              <p>Стоимость доставки рассчитывается исходя из веса посылки и города доставки.</p>
              <p>Отправляем посылки из Москвы. Например, минимальная стоимость доставки  в ближайшие регионы за 1 набор карточек получается 100 руб при отправке службой Почты России.</p>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse"
               data-parent="#accordion1" href="#collapse2">
              Во что упаковывается плакат для его сохранности при пересылке почтой?
            </a>
          </div>
          <div id="collapse2" class="accordion-body collapse">
            <div class="accordion-inner">
              <p>Плакат высылаем в специальном картонном тубусе. Стоимость тубуса 100 руб.</p>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse"
               data-parent="#accordion1" href="#collapse3">
              Через сколько я получу посылку? Как долго идет посылка?
            </a>
          </div>
          <div id="collapse3" class="accordion-body collapse">
            <div class="accordion-inner">
              <p>В среднем посылка идет 7-14 дней в зависимости от региона. После отправления посылки я высылаю вам номер почтового идентификатора,  по которому вы можете отслеживать местонахождение посылки.</p>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse"
               data-parent="#accordion1" href="#collapse4">
              Как можно оплатить заказ?
            </a>
          </div>
          <div id="collapse4" class="accordion-body collapse">
            <div class="accordion-inner">
              <p>Возможны наличные  и безналичные способы оплаты.</p>
              <p>Наличными можно заплатить только в Москве при заказе самовывозом или доставкой курьером. Безналичным способом можно заплатить через платежную систему paypal  или банковским переводом  (возможны Альфабанк, Сбербанк и банк Связной).</p>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse"
               data-parent="#accordion1" href="#collapse5">
              Сколько стоит доставка по России?
            </a>
          </div>
          <div id="collapse5" class="accordion-body collapse">
            <div class="accordion-inner">
              <p>Как можно скачать лист для раскрашивания?</p>
              <p>Лист для раскрашивания можно скачать нажав на кнопку "Поделиться" в Фейсбуке. После опубликования сообщения рядом появиться зеленая кнопка "Скачать раскраску"</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <a href="#" data-href="#top" class="back-to-top pull-right">Наверх</a>
    </div>
  </div>

</div>

{{> footer }}
