{{> header }}

  <div class="posts container">
    <div class="row-fluid">
      <div class="span12">
        <h2>Сотрудничество</h2>

        <p>Приглашаю к сотрудничеству магазины и инструкторов йоги.</p>
        <p>Меня часто спрашивают посоветовать инструктора по детской йоге. Оставляйте здесь ваши координаты с городом и адресами клубов где вы преподаете.</p>
      </div>
    </div>

  </div>
{{> footer }}
